<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new Location</title>
</head>
<body>
<nav class="navbtn">
    <a href="{{ url_for('main_page') }}" class="w3-button w3-bar-item">Home</a>
</nav>
    <form action="{{ url_for('add_location')}}" method="POST">

			{{ form.hidden_tag() }}

			<label for="area">areaname :</label>
			<input type="text" id="area" name="area" placeholder="areaname">
			<label for="region">regname :</label>
			<input type="text" id="region" name="region" placeholder="regname">
			<label for="ter">tername :</label>
			<input type="text" id="ter" name="ter" placeholder="tername">
			<button type="submit">Add</button>


	   </form>


</body>
</html>