<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new Data in Tables</title>
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
<nav class="navbtn">
    <a href="{{ url_for('main_page') }}" class="bar-item">Home</a>
</nav>
    <form action="{{ url_for('insert_test')}}" method="POST">
		{{ form.hidden_tag() }}
		<div class="row">
        	<div class="column">
				<label for="student_id">student_id :</label>
				<input type="text" id="student_id" name="student_id" placeholder="student_id"><br>

				<label for="student_birth">student_birth :</label>
				<input type="text" id="student_birth" name="student_birth" placeholder="student_birth"><br>

				<label for="student_sex">student_sex :</label>
				<input type="text" id="student_sex" name="student_sex" placeholder="student_sex"><br>

				<label for="student_area">student_area :</label>
				<input type="text" id="student_area" name="student_area" placeholder="student_area"><br>

				<label for="student_region">student_region :</label>
				<input type="text" id="student_region" name="student_region" placeholder="student_region"><br>

		    	<label for="student_ter">student_ter :</label>
				<input type="text" id="student_ter" name="student_ter" placeholder="student_ter"><br>

				<label for="student_regtype">student_regtype :</label>
				<input type="text" id="student_regtype" name="student_regtype" placeholder="student_regtype"><br>

				<label for="class_profile">class_profile :</label>
				<input type="text" id="class_profile" name="class_profile" placeholder="class_profile"><br>

				<label for="class_lang">class_lang :</label>
				<input type="text" id="class_lang" name="class_lang" placeholder="class_lang"><br>

				<label for="student_inst_name">student_inst_name :</label>
				<input type="text" id="student_inst_name" name="student_inst_name" placeholder="student_inst_name"><br>

		    	<label for="student_inst_area">student_inst_area :</label>
				<input type="text" id="student_inst_area" name="student_inst_area" placeholder="student_inst_area"><br>

				<label for="student_inst_region">student_inst_region :</label>
				<input type="text" id="student_inst_region" name="student_inst_region" placeholder="student_inst_region"><br>

				<label for="student_inst_ter">student_inst_ter :</label>
				<input type="text" id="student_inst_ter" name="student_inst_ter" placeholder="student_inst_ter"><br>

		    	<label for="student_inst_type">student_inst_type :</label>
				<input type="text" id="student_inst_type" name="student_inst_type" placeholder="student_inst_type"><br>
			</div>
  			<div class="column">
				<label for="student_inst_parent">student_inst_parent :</label>
				<input type="text" id="student_inst_parent" name="student_inst_parent" placeholder="student_inst_parent"><br>

				<label for="test_name">test_name :</label>
				<input type="text" id="test_name" name="test_name" placeholder="test_name"><br>

				<label for="test_inst_name">test_inst_name :</label>
				<input type="text" id="test_inst_name" name="test_inst_name" placeholder="test_inst_name"><br>

				<label for="test_inst_area">test_inst_area :</label>
				<input type="text" id="test_inst_area" name="test_inst_area" placeholder="test_inst_area"><br>

		    	<label for="test_inst_region">test_inst_region :</label>
				<input type="text" id="test_inst_region" name="test_inst_region" placeholder="test_inst_region"><br>

				<label for="test_inst_ter">test_inst_ter :</label>
				<input type="text" id="test_inst_ter" name="test_inst_ter" placeholder="test_inst_ter"><br>

		    	<label for="test_year">test_year :</label>
				<input type="text" id="test_year" name="test_year" placeholder="test_year"><br>

				<label for="adapt_scale">adapt_scale :</label>
				<input type="text" id="adapt_scale" name="adapt_scale" placeholder="adapt_scale"><br>

				<label for="ball12">ball12 :</label>
				<input type="text" id="ball12" name="ball12" placeholder="ball12"><br>

		    	<label for="ball100">ball100 :</label>
				<input type="text" id="ball100" name="ball100" placeholder="ball100"><br>

				<label for="ball">ball :</label>
				<input type="text" id="ball" name="ball" placeholder="ball"><br>

		    	<label for="subtest">subtest :</label>
				<input type="text" id="subtest" name="subtest" placeholder="subtest"><br>

				<label for="dpalevel">dpalevel :</label>
				<input type="text" id="dpalevel" name="dpalevel" placeholder="dpalevel"><br>

				<label for="test_lang">test_lang :</label>
				<input type="text" id="test_lang" name="test_lang" placeholder="test_lang"><br>

		    	<label for="test_status">test_status :</label>
				<input type="text" id="test_status" name="test_status" placeholder="test_status"><br>

  			</div>
		</div>
		<button class="add_btn" type="submit">Add</button>
	   </form>


</body>
</html>