<!doctype html>
<html>
    <head>
      {% if title %}
        <title>{{ title }}</title>
      {% else %}
        <title>ZNO application</title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
      {% endif %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
		    	    <li><a href={{url_for('index')}}>Home</a></li>
		    	    <li><a href={{url_for('institution')}}>Institution</a></li>
                    <li><a href={{url_for('location')}}>Location</a></li>
                    <li><a href={{url_for('student')}}>Student</a></li>
                    <li><a href={{url_for('test')}}>Test</a></li>
                    <li><a href={{url_for('queries')}}>Queries</a></li>
		        </ul>
            </nav>    
        </header>
        <main>
            <!-- content for specific html-page -->
            {% block content %}{% endblock %}
        </main>
    </body>
</html>