<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Homepage</title>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
</head>

<body class="main-page">
  <a href="{{ url_for('location_info') }}">
    <button class="btn">LocationInfo</button>
  </a>
  <a href="{{ url_for('institution_info') }}">
    <button class="btn">Institution</button>
  </a>
  <a href="{{ url_for('student_info') }}">
    <button class="btn">Student</button>
  </a>
  <a href="{{ url_for('test_info') }}">
    <button class="btn">Test</button>
  </a>
  <a href="{{ url_for('statistics') }}">
    <button class="btn">Statistics</button>
  </a>
  <a href="{{ url_for('add_data') }}">
    <button class="btn">Add Data</button>
  </a>

</body>

</html>