<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Homepage</title>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>
  <a href="{{ url_for('location') }}">
    <button class="btn location">LocationInfo</button>
  </a>
  <a href="{{ url_for('institution') }}">
    <button class="btn institution">Institution</button>
  </a>
  <a href="{{ url_for('student') }}">
    <button class="btn student">Student</button>
  </a>
  <a href="{{ url_for('test') }}">
    <button class="btn test">Test</button>
  </a>
  <a href="{{ url_for('statistics') }}">
    <button class="btn queries">Statistics</button>
  </a>
</body>

</html>