<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Institution</title>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>
  <nav class="navbtn">
   <a href="{{ url_for('main_page') }}" class="bar-item">Home</a>
  </nav>
  <h1>Institution</h1>
  <table id="demo">
    <thead>
      <tr>
        {% for column in columns %}
        <th> {{ column }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for institution in institutions %}
        <tr>
        {% for col in institution %}
        <td>{{ col }}</td>
        {% endfor %}
          <th>
      <form action="{{url_for('del_institution')}}" method="POST">
								<input type="hidden" name="inst_Id" value="{{ institution.instId }}"/>
                                <button class="delete_btn" type="submit">Delete</button>
							</form></th>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</body>


</html>