<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>LocationInfo</title>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
  <nav class="navbtn">
   <a href="{{ url_for('main_page') }}" class="bar-item">Home</a>
  </nav>
  <h1>LocationInfo</h1>
    <form class="crud-action" method="post" action="{{ url_for('location_info') }}">
      <p>Update by ID/Insert</p>
      <label for="locationid">Location ID:</label>
      <input type="number" id="locationid" name="locationid">
      
      <label for="areaname">Area name:</label>
      <input type="text" id="areaname" name="areaname">
  
      <label for="regname">Region name:</label>
      <input type="text" id="regname" name="regname">
  
      <label for="tername">Territory name:</label>
      <input type="text" id="tername" name="tername">
      <div>
        <button type="submit" formaction="{{url_for('update_locationinfo')}}">Update</button>
        <button type="submit" formaction="{{url_for('insert_locationinfo')}}">Insert</button>
      </div>
    </form>
  <table id="demo">
    <thead>
      <tr>
        {% for column in columns %}
        <th> {{ column }}</th>

        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for location in locations %}

        <tr>
        {% for col in location %}

        <td>{{ col }}</td>


        {% endfor %}
        <th>
          <form action="{{url_for('del_location')}}" method="POST">
						<input type="hidden" name="locationid" value="{{ location[-1] }}"/>
            <button class="delete_btn" type="submit">Delete</button>
					</form>
        </th>

        </tr>

      {% endfor %}
    </tbody>
  </table>




</body>
</html>