<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
  <nav class="w3-bar w3-black">
   <a href="{{ url_for('main_page') }}" class="w3-button w3-bar-item">Home</a>
  </nav>

	<table id="demo">
    <thead>
      <tr>
        {% for column in columns %}
        <td> {{ column }}</td>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for location in locations %}
        <tr>
        {% for col in location %}
        <td>{{ col }}</td>
        {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>




</body>
</html>