<!DOCTYPE html>
<html>
<head>
<title>Statistics</title>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
  <nav class="w3-bar w3-black">
   <a href= "{{url_for('main_page')}}" class="bar-item">Home</a>
  </nav>
  <h1>Statistics</h1>
  <form class="form-control" action="{{ url_for('statistics')}}" method="POST">
      {{ form.hidden_tag() }}
      <div>
            {{ form.subject.label }}
            {{ form.subject(class="statistic_form_fields") }}
        </div>
      <div>
            {{ form.year.label }}
            {{ form.year(class="statistic_form_fields") }}
        </div>
      <div>
            {{ form.region.label }}
            {{ form.region(class="statistic_form_fields") }}
        </div>
     <div>
            {{ form.ball_function.label }}
            {{ form.ball_function(class="statistic_form_fields") }}
        </div>
      <p>Hold down the Ctrl button to select multiple options.</p>
      <button class="choose_btn" type="submit">Choose</button>
  </form>

<!--  <div id="my_div" style = "display:none;">-->
<!--    <form>-->
<!--        -->
<!--        <select id="select2" class="chosen_class" data-placeholder="Select here" multiple>-->
<!--        </select>-->
<!--    </form>-->


</div>
  <table id="demo">
    <thead>
      <tr>
        {% for header in headers %}
        <td> {{ header }}</td>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in statistics_data %}
        <tr>
        {% for col in row %}
        <td>{{ col }}</td>
        {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>