<!DOCTYPE html>
<html>
<head>
<title>Statistics</title>
</head>
<body>
  <nav class="w3-bar w3-black">
   <a href= "{{url_for('main_page')}}" class="w3-button w3-bar-item">Home</a>
  </nav>
  <h1>Statistics</h1>
  <table id="demo">
    <thead>
      <tr>
        {% for header in headers %}
        <td> {{ header }}</td>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in statistics_data %}
        <tr>
        {% for col in row %}
        <td>{{ col }}</td>
        {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>