<!DOCTYPE html>
<html>
<head>
<title>Student</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
  <nav class="navbtn">
   <a href="{{ url_for('main_page') }}" class="bar-item">Home</a>
  </nav>
  <h1>Student</h1>
  <table id="demo">
    <thead>
      <tr>
        {% for column in columns %}
        <th> {{ column }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
        <tr>
        {% for col in student %}
        <td>{{ col }}</td>
        {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>