<!DOCTYPE html>
<html>
<head>
<title>Test</title>
</head>
<body>
  <nav class="navbtn">
   <a href="{{ url_for('main_page') }}" class="bar-item">Home</a>
  </nav>
  <h1>Test</h1>
  <table id="demo">
    <thead>
      <tr>
        {% for column in columns %}
        <th> {{ column }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for test in tests %}
        <tr>
        {% for col in test %}
        <td>{{ col }}</td>
        {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>




</body>
</html>