html {
  height: 100%;
  width: 100%;
  background-color: #B9F3FC;
}

/*.btn button {*/
/*  background-color: #04AA6D; !* Green background *!*/
/*  border: 1px solid green; !* Green border *!*/
/*  color: white; !* White text *!*/
/*  padding: 10px 24px; !* Some padding *!*/
/*  cursor: pointer; !* Pointer/hand icon *!*/
/*  width: 50%; !* Set a width if needed *!*/
/*  display: block; !* Make the buttons appear below each other *!*/
/*}*/

.btn {
    /*display: block;*/

    border-radius: 5px;
    background-color: #D9ACF5;
    color: #7286D3;
    width: 250px;
    border: 2px solid #7286D3;
    left: 40%;
    position: absolute;
    padding: 28px 84px;
    font-size: 16px;
    cursor: pointer;

}
.btn:hover{
    background-color: #FFCEFE;
    color: #7286D3;
}


.location {
    top: 8%;
}
.institution {
    top: 23%;
}
.student {
    top: 38%;
}
.test {
    top: 53%;
}
.queries {
    top: 68%;
}
.add_new{
    top: 83%;
}

.navbtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-style: italic;
    color: #7286D3;
}

table, th, td {
  border: 1px solid;
}

table{
    border-collapse: collapse;
    width: 100%;
}

td:hover {background-color: #ccff99;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4d0099;
  color: white;
}


/* form div.form-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
    gap: 5%;
}

form  div  div {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 10%;
}  

form div.form-block input {
    width: 100%;
} */

* {
    box-sizing: border-box;

    font-size: 20px;
}
.column {
  float: left ;
  width: 40%;
  padding: 10px;
  /*height: 300px;*/
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.add_btn{
    position: relative;
    left: 45%;
    top: 140px;
}